.storage-wrapper {
    width: 100%;
    background: #F0F3FF;
    height: 100vh;
    border-top-left-radius: 2vh 2vh;
    border-top-right-radius: 2vh 2vh;

}

.item-path-box {
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.item-path {
    display: flex;
    align-items: center;
}
.item-path-box_text {
    font-size: 1.3em;
}

.item-path_back-btn {
    cursor: pointer;
    background: none;
    border: none;
}

.filters-box {
    display: flex;
    padding: 0 40px;
}

.filter-by_btn {
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 10px 17px;
    font-size: 1.3rem;
    background: #D9D9D9;
    border: none;
    border-radius: 10px;
}

.items-list {
    max-width: 100%;
    display: grid;
    @media (max-width: 1000px) {
        grid-template-columns: repeat(4, 1fr);
        padding: 30px;
    }
    grid-template-columns: repeat(7, 1fr);
    padding: 40px;
    gap: 10px;
}