@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.login {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 45% 55%;
    font-family: "Montserrat", sans-serif;
}

/* Left part of page*/

.login-about {
    position: relative;
    background: black;
    color: white;
    font-size: 44px;
    font-weight: bold;
    overflow: hidden;
}

.login-about_title {
    z-index: 100;
    position: absolute;
}

.about-img {
    right: 0;
    position: absolute;
    height: 100%;
}

.about-img img {
    height: 100%;
    border: none;
}

/* Right part of page*/

.login-form {
    display: flex;
    justify-content: center;
    background: #F0F3FF;
    border-bottom-left-radius: 2%;
    border-top-left-radius: 2%;
}

.form-container {
    margin-top: 10%;
}

.login-form_title {
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25%;
}

.login-form_form {
    display: flex;
    flex-direction: column;
}
.login-form_form input {
    border: 2px solid black;
    font-size: 18px;
    width: 300px;
    height: 50px;
    margin-bottom: 40px;
    padding-left: 10px;
    background: #F0F3FF;
    box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.28);
}
.login-form_form input::placeholder {
    font-family: "Montserrat", sans-serif;
    color: black;
}
.login-form_form input:focus {
    outline: none;
}

.btn-submit {
    margin-top: 12%;
    font-family: "Montserrat", sans-serif;
    height: 50px;
    background: black;
    color: white;
    font-weight: 600;
    border: none;
    font-size: 19px;
}
.login-switch {
    text-align: center;
    padding-top: 20px;
    font-size: 14px;

}
.login-switch-link {
    color: black;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600;
}